.main>p{
    font-family: 'Comfortaa', cursive;
    font-size:xx-large; 
    text-align: center;
    font-weight: 700;
}
.main{
    display: flex;
    flex-direction: column;
    font-family: 'Comfortaa', cursive;
    align-items: center;
}
.btn-outline-primary{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 200px;
}